theme = light:Gruvbox Light Hard,dark:Gruvbox Dark Hard

font-family = JetBrainsMono Nerd Font
font-size = 14

command = /opt/homebrew/bin/fish -c "tmux attach || tmux"
shell-integration = fish
mouse-hide-while-typing = true
copy-on-select = clipboard
cursor-style = bar
cursor-style-blink = false

confirm-close-surface = false
macos-titlebar-style = hidden
gtk-tabs-location = bottom
window-save-state = always
macos-option-as-alt = left

scrollback-limit = 10000
